[submodule "justhtml"]
	path = justhtml
	url = https://github.com/EmilStenstrom/justhtml.git
[submodule "html5lib-tests"]
	path = html5lib-tests
	url = https://github.com/html5lib/html5lib-tests.git
[submodule "koka"]
	path = koka
	url = https://github.com/koka-lang/koka
